<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DeveLanCacheUI_Frontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu" style="position: relative;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <hr /> <!-- Here is the separator -->
        <div class="nav-item px-3">
            <h3 class="nav-link">Steam</h3>
            <NavLink class="nav-link" href="steamlatestdownloads">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Latest Downloads
            </NavLink>
        </div>
    </nav>
    <div class="version-info px-3" style="position: absolute; bottom: 10px; color: white; font-weight: bold;">
        <small>Version: @Version</small>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string Version { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        Version = GetVersion();
    }

    private string GetVersion()
    {
        Console.WriteLine("Getting version...");
        var assembly = System.Reflection.Assembly.GetExecutingAssembly();
        var version = assembly.GetName().Version.ToString();
        return version;
    }
}
