.status-ball {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid white;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .3);
    background: radial-gradient(circle at 30% 30%, #0f0, #0a0);
}

.connected {
    border-color: #0f0;
}

.disconnected {
    border-color: #f00;
    background: radial-gradient(circle at 30% 30%, #f00, #a00);
}

.compact-layout td {
    padding: 0px;
}

td {
    vertical-align: middle;
}

progress {
    margin-right: 5px;
}

.hashimage {
    width: 100px;
    height: 100px;
}